MONGODB_URI=mongodb://localhost:27017/away
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_CLIENT_SECRET=your-google-client-secret
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/your/webhook/url
NEXT_PUBLIC_APP_URL=https://away.storepecker.com
ADMIN_EMAILS=admin1@storepecker.me,admin2@storepecker.me
CALENDARIFIC_API_KEY=your_calendarific_api_key
SLACK_BOT_TOKEN=xoxb-your-bot-token
SLACK_SIGNING_SECRET=your-signing-secret
SLACK_ADMIN_CHANNEL_ID=C0123456789
ALLOWED_EMAIL_DOMAIN=storepecker.me
